@using BookStore.DtoLayer.SubscribeDtos
@model UpdateSubscribeDto
@{
    ViewData["Title"] = "Abonelikler";
    ViewData["Description"] = "Abone Listesi";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<form method="post">
    <div class="container">
        <br /><br />

        <label>Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <label>Email</label>
        <input type="email" asp-for="Email" class="form-control" />
        <br />
        
        <button class="btn btn-primary">Abone Ekle</button>
    </div>
</form>
