@using BookStore.DtoLayer.AuthorDtos
@model InsertAuthorDto
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />

        <label>Yazar Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <button class="btn btn-primary">Yazar Ekle</button>
    </div>
</form>
